/* Navbar */
.navbar ul{
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
}

/* Home */
#home{
    height: 900px;
}
.headings{
    font-size: 1.8rem;
}

/* About */
#pic img{
    width: 275px;
    height: 150px;
}
#intro h2{
    font-size: 1.5rem;
}

/* Portfolio */
.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}

/* Contact */
#contact{
    height: 700px;
    padding: 5px;
}